
<div class="addAuthorForm">
    <div class="card" routerLink="/detailAuthor" routerLinkActive="active-link" (click)="authorService.locateAuthor(author)" *ngFor="let author of authorService.getAuthors()">
        {{author.firstName}} {{author.lastName}}
    </div>
    <div class="authorName">
        <p>Name: </p><input/>
    </div>
    <div class="authorSurname">
        <p>Surname: </p><input/>
    </div>
    <div class="buttons">
        <div class="buttonAddContainer">
            <button class="addButton" routerLink="/display" routerLinkActive="active-link">
                Volver
            </button>
        </div>
        <div class="buttonAddContainer">
            <button class="addButton">
                Submit
            </button>
        </div>
    </div>
</div>


<!-- <div class="buttonAddContainer">
    <button class="addButton" routerLink="/addBook" routerLinkActive="active-link">
        New book!
    </button>
</div> -->