
<div class="authorDetailContainer">
    <p>{{dispChoosenAuthor.firstName}} {{dispChoosenAuthor.lastName}}</p>
    
    <div class="buttons">
        <div class="buttonAddContainer">
            <button class="retButton" routerLink="/addAuthor" routerLinkActive="active-link">
                Volver
            </button>
        </div>
        <div class="buttonAddContainer">
            <button class="retButton" routerLink="/addBook" routerLinkActive="active-link">
                New book!
            </button>
        </div>
    </div>
</div>
